* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
  height: 1000px;
}
/* Font */
@font-face {
  font-family: De Valencia;
  src: url("../Font/De\Valencia\\(beta\).otf") format("truetype");
}
/* End Font */
.home {
  width: 100%;
  /* height: 550px; */
  height: 625px;
  background-image: url(../img/Jam2.jpg);
  background-size: cover;
  background-position-y: -100px;
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
}
.header h2 {
  margin-left: 200px;
  display: flex;
  align-items: flex-end;
}
/* nav */
nav {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  /* padding: 20px 0; */
  height: 70px;
  align-items: center;
  width: 75%;
  margin: 5px auto;
  border-radius: 50px;
  border: 2px solid gold;
}
h1 {
  color: rgb(255, 217, 0);
  font-family: De Valencia;
}
h2 {
  color: gold;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li {
  padding: 8px 5px 8px 5px;
  box-sizing: border-box;
}

nav ul li a {
  color: gold;
  text-decoration: none;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
}
nav ul li:hover {
  background-color: gold;
  border-radius: 50px;
}
nav ul li a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
  transition: 1s;
  border-radius: 50px;
}
/* SEARCH */

.search input {
  border-radius: 50px;
  padding: 10px;
  height: 30px;
  background-color: gold;
  border: 1px solid black;
}

/* END SEARCH */
/* end nav */

/* DISC */
.mulai {
  width: 300px;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15%;
  margin-top: 50px;
}
.mulai h3 {
  color: gold;
  font-size: 30px;
}
.mulaiBelanja {
  width: 50%;
  height: 50px;
  background-color: yellow;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;

  box-sizing: border-box;
}
.mulaiBelanja h3 {
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 20px;
}

/* responsive */

/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    background-color: orangered;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(100%);
    transition: 1.5s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
  .hamburger.transform {
    transform: scale(0.9);
  }
  body.black {
    background-color: black;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }
  .hamburger span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: wheat;
    border-radius: 3px;
  }
}

.produk{
  width: 300px;
  height: 300px;
  background-color: blueviolet;
  float: left;

}
